html {
  height: 100vh;
  width: 100vw;
  min-height: 800px;
  overflow: auto;
  background-color: #101010;
}

body {
  height: calc(100% - 120px);
  max-width: 1240px;
  border-radius: 20px;
  padding: 40px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.075em;
  -webkit-overflow-scrolling: touch;
}

body > div + div {
  margin-top: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.header > #name {
  font-size: 64px;
  font-weight: bold;
  margin: 6px 0px;
}

.header > #designation {
  font-size: 36px;
  margin: 6px 0px;
}

.contact {
  margin-top: 20px;
}
.contact > div {
  display: block;
  color: rgb(157, 154, 205);
}

.fab {
  margin: 16px 16px 16px 0;
  font-size: 20px;
}

.work-ex {
  overflow-y: scroll;
  max-width: 80%;
  margin-top: 20px;
  max-height: calc(100% - 320px);
}
.work-ex > div {
  margin-right: 20px;
}

.leg + .leg {
  margin-top: 20px;
}
.org-name {
  font-size: 28px;
  font-weight: bold;
}
.period {
  margin: 8px 0px;
}

.work-ex::-webkit-scrollbar {
  width: 2px;
  cursor: pointer;
}

.work-ex::-webkit-scrollbar-thumb {
  background-color: rgb(51, 96, 179);
  outline: 1px solid rgb(44, 92, 180);
}

.about {
  max-width: 80%;
}
.about > div {
  margin-top: 8px;
}
.about > .title {
  font-size: 20px;
}
.about > .content {
  font-size: 18px;
  color: rgb(196 196 202);
}
